@charset "utf-8";

.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 228, 228);
    border: 2px solid gray;
    border-radius: 10px;
    max-width: 90%;
}

body {
    background-color: aquamarine;
    margin: 0; 
    padding-top: 60px;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 0,
        rgba(255,255,255,0.2) 10px,
        transparent 10px,
        transparent 20px
    );
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'メイリオ','meiryo',sans-serif;
    text-shadow: 2px 2px 1px grey;
} 

iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.global_nav {
    font-size: 18px;
    background-color: black;
    position: fixed; top: 0; width: 100%;
}

.nav_list{
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav_item{
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.whlink,.top{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 15px;
}

ul.nav_list li:hover{
    background: rgb(255, 55, 19);
}
.top {
    background-color: rgb(255, 38, 0);
    border: 2px solid gray;
    border-radius: 10px;
    width: 20%; 
    max-width: 120px; 
    height: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
}