@charset "utf-8";

.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: aquamarine;
    height: 2000px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'メイリオ','meiryo',sans-serif;
    text-shadow: 2px 2px 1px grey;
} 
iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.global_nav {
    font-size: 18px;
    width: auto;
    background-color: black;
}
.nav_list{
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav_item{
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
}
.whlink{
    color: #fff;
}